<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Sales Action">
    <title>Plataforma de administración de entrevistas</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Favicons -->
    <link rel="shortcut icon" th:href="@{/ima/icon-admin.png}" type="image/x-icon">

    <meta name="theme-color" content="#563d7c">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>

<body class="text-center">

    <form class="form-signin bg-white" th:action="@{/logincheck}" method="POST">
		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <h1 class="h3 mb-3 font-weight-normal">Bienvenido</h1>
        <br>
		<div class="alert alert-danger" role="alert" th:if="${error != null}">
			Verifica las credenciales
		</div>
		<div class="alert alert-info" role="alert" th:if="${logout != null}">
			Se ha cerrado la sesión
		</div>
		<label for="email" class="sr-only">Usuario</label>
        <input type="text" id="username" name="username" class="form-control" 
        	placeholder="Usuario" required autofocus>
        <br>
        <label for="password" class="sr-only">Clave</label>
        <input type="password" id="password" name="password" class="form-control" 
        	placeholder="Clave" required>
        <div class="checkbox mb-3 pt-4">
            <label>
                <input type="checkbox" value="remember-me"> Mantener sesión
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2024 - Sales Action</p>
    </form>

</body>

</html>