<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Plataforma de administración de entrevistas</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" th:href="@{/ima/icon-admin.png}" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link th:href="@{/css/estilos.css}" rel="stylesheet" />
  </head>
  <body>
    <header class="container bg-dark">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <a class="navbar-brand" href="/inicio">Sales Action</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/inicio">Inicio <span class="sr-only">(actual)</span></a>
                    </li>
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Listado</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="/entrevistas/listadobusqueda">Búsqueda</a>
                            <a class="dropdown-item" href="/entrevistas/listadoexportar">Exportar</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Registro</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="/entrevistas/registro">Único</a>
                            <a class="dropdown-item" href="/entrevistas/cargamasiva">Masivo</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actualización</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="/entrevistas/actmasiva">Validados</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mantenedores</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownId">
                            <a class="dropdown-item" href="/clientes">Clientes</a>
                            <a class="dropdown-item" href="/reclutadores">Reclutadores</a>
                            <a class="dropdown-item" href="/instalaciones">Instalaciones</a>
                            <a class="dropdown-item" href="/cargos">Cargos</a>
                            <a class="dropdown-item" href="/nacionalidades">Nacionalidades</a>
                            <a class="dropdown-item" href="/estados">Estados</a>
                            <a class="dropdown-item" href="/usuarios">Usuarios</a>
                        </div>
                    </li>
                    <li class="nav-item">
						<form name="frmsalir" th:action="@{/logout}" method="POST">
						</form>
                        <a class="nav-link" href="#" onclick="menusalir()">Salir</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container bg-white px-4">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron">
                    <h1 class="display-4">Búsqueda de entrevista</h1>
                    <p class="lead">Listado de entrevistas realizadas y motor de búsqueda</p>
                    <hr class="my-0">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form th:action="@{/entrevistas/filtro}" method="get" 
                name="frmentrevistabusqueda"> 
                	<input type="hidden" name="p" id="p" th:value="${paginaActual}" > 
                    <div class="row">
                        <div class="form-group col-md-12">
                            <h3>Formulario de búsqueda</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="n">Nombres</label>
                            <input type="text" class="form-control" id="n" name="n" 
                            th:value="${nombres}" 
                            >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ap">Apellido Paterno</label>
                            <input type="text" class="form-control" id="ap" name="ap" 
                            th:value="${appaterno}" 
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="am">Apellido Materno</label>
                            <input type="text" name="am" class="form-control" 
                            id="am" th:value="${apmaterno}" 
                            >
                        </div>
                        <div class="form-group col-md-6">
                            <label for="r">RUN</label>
                            <input type="text" name="r" id="r" 
                            class="form-control" th:value="${run}" 
                            >
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <button type="submit" class="btn btn-info">Filtrar</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <hr>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row" th:if="${mensaje != ''}">
        	<div class="col-md-12">
				<div th:if="${tipoMensaje == 'Ok'}" class="alert alert-success" role="alert">
				  <span th:text="${mensaje}"></span>
				</div>
				<div th:if="${tipoMensaje == 'Error'}" class="alert alert-danger" role="alert">
				  <span th:text="${mensaje}"></span>
				</div>
        	</div>
        </div>
                
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">RUN</th>
                        <th scope="col">Cliente</th>
                        <th scope="col">Reclutador</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each="entrevista: ${entrevistados}">
						<td scope="row" th:text="${entrevista.idEntrevistado}" />
						<td th:text="${entrevista.nombres}" />
						<td th:text="${entrevista.apPaterno}" />
						<td th:text="${entrevista.run}" />
                        <td th:text="${entrevista.cliente.nombreCliente}" />
                        <td th:text="${entrevista.usuario} ? ${entrevista.usuario.username} : ''" />
                        <td>
                            <a th:href="@{/entrevistas/editar/{id}(id=${entrevista.idEntrevistado})}"
							class="btn btn-primary btn-sm">Editar</a> 
                            <button type="button" class="btn btn-sm btn-danger botonEliminar" 
                            	data-toggle="modal" data-target="#deleteModal" 
                            	th:data-id="${entrevista.idEntrevistado}"
                            	>
                                Eliminar
                            </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <ul class="pagination pagination-md justify-content-center">
                    <li th:each="pagina: ${paginas}" th:class="${pagina == paginaActual} ? 'page-item disabled' : 'page-item'">
                        <a class="page-link" 
                        th:href="@{/entrevistas/filtro?p={numpage}&n={dn}&ap={dap}&am={dam}&r={dr}(numpage=${pagina},dn=${nombres},dap=${appaterno},dam=${apmaterno},dr=${run})}" tabindex="-1" th:text="${pagina}"></a>
                    </li>
                </ul>
        
            </div>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteModalLabel">Eliminar entrevista</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  ¿Está seguro que desea eliminar la entrevista?
                </div>
                <div class="modal-footer">
                	<form th:action="@{/entrevistas/eliminar}" method="post">
	                	<input type="hidden" name="idEntrevistado" id="idEntrevistado" value="" />
                  		<button type="submit" class="btn btn-success">Confirmar</button>
                  		<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </form>
                </div>
              </div>
            </div>
        </div>
    </main>
    <footer class="container-fluid text-center p-3 bg-dark text-light">
        &copy; 2024 - Sistema creado para Sales Action 
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script th:src="@{/js/menu.js}"></script>
    <script th:src="@{/js/entrevistas/listado.js}"></script>
  </body>
</html>