<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Sales Action">
    <title>Plataforma de administración de entrevistas</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Favicons -->
    <link rel="shortcut icon" th:href="@{/ima/icon-admin.png}" type="image/x-icon">
    <meta name="theme-color" content="#563d7c">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/login.css}" rel="stylesheet" />
</head>

<body class="text-center">

	<form class="form-signin bg-white">
		<h1 class="h3 mb-3 font-weight-normal">Error</h1>
		<br>
		<div class="alert alert-danger" role="alert">
			Recurso no accesible
		</div>
		<p class="mt-5 mb-3 text-muted">&copy; 2022 - Sales Action</p>
	</form>
</body>

</html>